@font-face {
	font-family: "楷体";
	src: url(/fonts/iconfont.eot?t=1518090505117);
	src: url(/fonts/iconfont.eot?t=1518090505117#iefix) format('embedded-opentype'), url(/fonts/iconfont.woff?t=1518090505117) format('woff'), url(/fonts/iconfont.ttf?t=1518090505117) format('truetype'), url(/fonts/iconfont.svg?t=1518090505117#iconfont) format('svg')
}

img,
legend {
	border: 0
}

a,
a:focus,
a:hover {
	text-decoration: none
}

html {
	font-family: '楷体';
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
img {
	margin: 0;
	padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent;
	color: #4395ff
}

a:active,
a:hover {
	outline: 0
}

pre,
textarea {
	overflow: auto
}

.ad-box .bold,
.close,
kbd kbd {
	font-weight: 700
}

button {
	overflow: visible;
	border:0;
}

button,
select {
	text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

*,
:after,
:before {
	box-sizing: border-box
}

body {
	/* font-family: "楷体"; */
	background-attachment: fixed;
	background-size: cover;
}

a:focus,
a:hover {
	color: #8c222c
}

a:focus {
	outline: dotted thin;
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px
}

.clearfix:after,
.clearfix:before,
.content:after {
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden
}

.clearfix:after {
	clear: both
}

.pull-left {
	float: left!important
}

.pull-right {
	float: right!important
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.show {
	display: block!important
}

.hide {
	display: none!important
}

.close {
	float: right;
	font-size: 31px;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	filter: alpha(opacity=20)
}

.close:focus,
.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .5;
	filter: alpha(opacity=50)
}

.nav-header-box {
	font-family:"楷体";
	height: 36px;
	background-color: #f7f7f6
}

.nav-header-box .header-wrap {
	position: relative;
	width: 1000px;
	height: 100%;
	margin: 0 auto
}

.nav-header-box .header-wrap .index-link-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 36px;
	font-size: 0
}

.nav-header-box .header-wrap .index-link-box .item-info {
	float: left;
	position: relative;
	height: 36px
}

.nav-header-box .header-wrap .index-link-box .item-info .info-link {
	display: block;
	margin-right: 15px;
	line-height: 36px
}

.nav-header-box .header-wrap .index-link-box .item-info .info-link .info-text {
	display: inline-block;
	vertical-align: middle;
	height: 34px;
	line-height: 34px;
	font-size: 18px;
	font-weight: 600;
	color: #666;
	cursor: pointer
}

.nav-header-box .header-wrap .index-link-box .item-info .info-link:hover .info-text {
	color: #8c222c;
	border-bottom: 1px solid #8c222c;
	text-decoration: none;
}

.nav-header-box .header-wrap .user-info-box {
	position: absolute;
	top: 0;
	right: 0;
	height: 36px;
	font-size: 0
}

.nav-header-box .header-wrap .user-info-box .item-info {
	float: left;
	position: relative;
	height: 36px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-link {
	position: relative;
	display: block;
	height: 36px;
	padding: 0 7px;
	line-height: 34px;
	border: 1px solid #f7f7f6
}

.nav-header-box .header-wrap .user-info-box .item-info .info-link .iconfont {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 22px;
	color: #8c222c
}

.nav-header-box .header-wrap .user-info-box .item-info .info-link .iconfont .ico-circle {
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 1px solid #f7f7f6;
	background-color: #8c222c
}

.nav-header-box .header-wrap .user-info-box .item-info .info-link:hover,
.nav-header-box .header-wrap .user-info-box .item-info .info-normal:hover {
	background-color: #fff
}

.nav-header-box .header-wrap .user-info-box .item-info .info-link .iconfont.icon-xiaoxi {
	font-size: 22px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-link .iconfont.icon-gouwuche1 {
	margin-top: -2px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-link .info-text {
	display: inline-block;
	vertical-align: middle;
	height: 34px;
	font-size: 18px;
	font-weight: 600;
	color: #666;
	cursor: pointer
}

.nav-header-box .header-wrap .user-info-box .item-info .info-link .info-text .num {
	color: #8c222c
}

.nav-header-box .header-wrap .user-info-box .item-info .info-link:hover .info-text {
	color: #8c222c;
	border-bottom: 1px solid #8c222c;
	text-decoration: none;
}

.nav-header-box .header-wrap .user-info-box .item-info .info-normal {
	position: relative;
	display: block;
	height: 36px;
	padding: 0 7px;
	line-height: 34px;
	border: 1px solid #f7f7f6
}

.nav-header-box .header-wrap .user-info-box .item-info .info-normal .info-text {
	font-size: 18px;
	font-weight: 600;
	color: #666;
	cursor: default
}

.nav-header-box .header-wrap .user-info-box .item-info .info-normal .user-name-text {
	display: inline-block;
	max-width: 106px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.nav-header-box .header-wrap .user-info-box .item-info .info-normal:hover .info-text {
	color: #8c222c;
	text-decoration: none;
	
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win {
	display: none;
	position: absolute;
	top: 36px;
	left: 0;
	z-index: 1000;
	width: auto;
	height: auto;
	border: 1px solid #ccc;
	background-color: #fff
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .no-seller-center,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .personal-center,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .seller-center {
	padding-top: 10px;
	white-space: nowrap
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .no-seller-center .info-domain,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .personal-center .info-domain,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .seller-center .info-domain {
	margin-bottom: 9px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .no-seller-center .info-domain .title,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .personal-center .info-domain .title,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .seller-center .info-domain .title {
	width: 50px;
	margin: 0 auto 4px;
	line-height: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #999;
	border-bottom: 1px solid #e5e5e5
}


.nav-header-box .header-wrap .user-info-box .item-info .info-win .no-seller-center .info-domain .item,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .personal-center .info-domain .item,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .seller-center .info-domain .item {
	display: block;
	width: 82px;
	height: 24px;
	padding: 0 16px;
	line-height: 24px;
	font-size: 16px;
	font-weight: 600;
	color: #333
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .no-seller-center .info-domain .item:hover,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .personal-center .info-domain .item:hover,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .seller-center .info-domain .item:hover {
	color: #8c222c;
	background-color: #f7f8f3
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .no-seller-center .info-domain .title {
	width: 70px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .no-seller-center .info-domain .item {
	width: 102px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center {
	width: 155px;
	padding: 15px 0
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center .other_info_inner {
	width: 125px;
	margin: 0 auto
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center .other_info_inner .help_btn {
	display: block;
	width: 125px;
	height: 32px;
	line-height: 32px;
	border-radius: 2px;
	background-color: #f8f7f3;
	border: 1px solid #e5e5e5;
	text-align: center;
	color: #333;
	font-size: 16px;
	font-weight: 600;
	margin: 0 auto
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center .other_info_inner .help_btn .ico {
	font-size: 16px;
	font-weight: 600;
	color: #a5806d
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center .other_info_inner .help_btn:hover {
	color: #9A7765;
	border: 1px solid #a5806d
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center .other_info_inner .help_qq {
	display: inline-block;
	color: #333;
	height: 26px;
	line-height: 26px;
	font-size: 16px;
	font-weight: 600;
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center .other_info_inner .help_qq .ico {
	font-size: 16px;
	font-weight: 600;
	color: #333
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center .other_info_inner .help_qq:hover {
	color: #9A7765
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center .other_info_inner .help_qq:hover .iconfont {
	color: #a5806d
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center .other_info_inner .tip {
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: #9c9c9c;
	margin-top: 14px;
	text-align: left
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center .other_info_inner .text {
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	color: #666;
	text-align: left;
	margin-bottom: 20px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center .other_info_inner .text .item {
	width: 100%;
	margin-bottom: 16px;
	margin-top: 17px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center .other_info_inner .text .item.last {
	margin-bottom: 0
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center .other_info_inner .text .item .phone {
	font-size: 14px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .help-center .other_info_inner .text .item .label {
	color: #999
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .mobile-code {
	width: 202px;
	height: 214px;
	padding: 10px 26px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .mobile-code .app-box,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .mobile-code .weinxin-box {
	float: left;
	width: 150px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .mobile-code .app-box .text,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .mobile-code .weinxin-box .text {
	height: 20px;
	margin-bottom: 6px;
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	font-weight: 700;
	color: #999
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .mobile-code .app-box .code,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .mobile-code .weinxin-box .code {
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	background-color: #000
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .mobile-code .app-box .code img,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .mobile-code .weinxin-box .code img {
	width: 100%;
	height: 100%
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .mobile-code .app-box .code .code-link,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .mobile-code .weinxin-box .code .code-link {
	display: block;
	width: 100%;
	height: 100%
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .mobile-code .app-box {
	float: right
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .mobile-code .app-box .tip {
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: #999
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .login-box {
	width: 162px;
	padding: 20px 16px 14px;
	background-color: #fff
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .login-box .login-btn {
	width: 130px;
	height: 30px;
	margin-bottom: 15px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	border-radius: 3px;
	border: 1px solid #8c222c;
	color: #fff;
	background-color: #8c222c;
	cursor: pointer
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .login-box .login-btn:hover {
	background-color: #7b111b
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .login-box .register-btn {
	width: 130px;
	height: 30px;
	margin-bottom: 16px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	border-radius: 3px;
	border: 1px solid #d4c4b8;
	color: #8c222c;
	background-color: #f8f7f3;
	cursor: pointer
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .login-box .register-btn:hover {
	border: 1px solid #8c222c
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .account-box {
	width: 166px;
	padding: 15px 16px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .account-box .pic-box {
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	line-height: 30px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .account-box .pic-box .pic-img {
	display: none;
	display: inline-block;
	max-width: 100%;
	max-height: 100%
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .account-box .pic-box .icon-yonghutouxiang {
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
	font-size: 30px;
	color: #ccc
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .account-box .btn-group {
	float: left;
	width: 104px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	font-size: 16px;
	font-weight: 600;
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .account-box .btn-group .btn {
	color: #333;
	cursor: pointer
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .account-box .btn-group .btn:hover {
	color: #8c222c
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .account-box .btn-group .btn-split {
	margin: 0 3px;
	color: #e5e5e5
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .area-box {
	width: 260px;
	padding: 10px 0 6px 14px;
	background-color: #fff
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .area-box .item {
	float: left;
	width: 49px;
	height: 20px;
	margin-bottom: 6px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .area-box .item .text {
	display: inline-block;
	height: 20px;
	padding: 0 5px;
	line-height: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #666;
	cursor: pointer
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .area-box .item .text:hover {
	color: #8c222c;
	background-color: #f3f0e9
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .area-box .item.active .text {
	color: #fff;
	background-color: #8c222c
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .load-box {
	width: 280px;
	height: 100px;
	line-height: 100px;
	text-align: center
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .load-box img {
	display: inline-block;
	width: 60px;
	height: 60px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .no-login-cart-none-box {
	width: 212px;
	padding: 10px 16px;
	background-color: #fff
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .no-login-cart-none-box .tip {
	line-height: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #666;
	word-break: break-all
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .no-login-cart-none-box .tip .text {
	display: inline-block;
	vertical-align: middle
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .no-login-cart-none-box .login-btn {
	display: block;
	width: 70px;
	height: 26px;
	margin-top: 10px;
	margin-bottom: 5px;
	line-height: 26px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	border-radius: 3px;
	background-color: #8c222c;
	cursor: pointer
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .no-login-cart-none-box .login-btn:hover {
	background-color: #7b111b
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-none-box {
	width: 272px;
	padding: 10px 16px
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-none-box .icon-gouwuche11 {
	display: block;
	width: 30px;
	height: 30px;
	margin: 4px auto 10px;
	font-size: 30px;
	color: #ccc
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-none-box .tip {
	line-height: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #666
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box {
	width: 334px;
	padding-top: 10px;
	background-color: #fff
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .title {
	height: 20px;
	padding: 0 16px;
	margin-bottom: 3px;
	line-height: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #bbb
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .item {
	padding: 7px 16px;
	cursor: pointer
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .item .img-box {
	float: left;
	display: block;
	width: 50px;
	height: 50px;
	margin-right: 6px;
	line-height: 48px;
	text-align: center;
	font-size: 0;
	border: 1px solid #e5e5e5;
	overflow: hidden
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .item .img-box img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .item .name {
	float: left;
	display: -webkit-box;
	width: 144px;
	height: 40px;
	margin: 5px 0;
	line-height: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #333;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .item .info {
	float: left;
	width: 100px;
	height: 50px;
	padding-left: 6px;
	text-align: right
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .item .info .price {
	height: 25px;
	line-height: 25px;
	font-size: 18px;
	font-weight: 600;
	color: #bf7f5f
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .item .info .del-box {
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	font-weight: 600;
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .item .info .del-box .del-btn {
	color: #8999a9;
	cursor: pointer
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .item .info .del-box .del-btn:hover,
.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .item:hover .name {
	color: #8c222c
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .item:hover {
	background-color: #f8f7f3
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .revoke-btn {
	display: none;
	width: 302px;
	height: 36px;
	margin: 0 auto;
	line-height: 36px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: #8999a9;
	background-color: #eee;
	cursor: pointer
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .revoke-btn:hover {
	color: #8c222c
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .btn-box {
	padding: 10px 0;
	margin: 7px 16px 0;
	border-top: 1px solid #e5e5e5
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .btn-box .tip {
	float: left;
	height: 26px;
	line-height: 26px;
	font-size: 16px;
	font-weight: 600;
	color: #999
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .btn-box .btn {
	float: right;
	width: 100px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	border-radius: 3px;
	background-color: #8c222c;
	cursor: pointer
}

.nav-header-box .header-wrap .user-info-box .item-info .line-right-test,
.nav-header-box .header-wrap .user-info-box .item-info.login-win .line-left,
.nav-header-box .header-wrap .user-info-box .item-info.login-win .line-right {
	position: absolute;
	width: 1px;
	height: 36px;
	color: #e2c8ca;
	line-height: 36px;
	font-size: 16px;
	font-weight: 600;
	top: 0
}

.nav-header-box .header-wrap .user-info-box .item-info .info-win .cart-list-box .btn-box .btn:hover {
	background-color: #7b111b
}

.nav-header-box .header-wrap .user-info-box .item-info .line-right-test {
	right: 2px
}

.nav-header-box .header-wrap .user-info-box .item-info.message-win .msg-normal .un-read-style,
.nav-header-box .header-wrap .user-info-box .item-info.message-win .msg-un-read .normal-style {
	display: none
}

.nav-header-box .header-wrap .user-info-box .item-info.login-win .info-normal {
	padding: 0 15px
}

.nav-header-box .header-wrap .user-info-box .item-info.login-win .line-left {
	left: 9px
}

.nav-header-box .header-wrap .user-info-box .item-info.login-win .line-right {
	right: 9px
}

.nav-header-box .header-wrap .user-info-box .item-info.login-win .info-win {
	left: auto;
	right: 0
}

.nav-header-box .header-wrap .user-info-box .item-info.mobile-win .info-win {
	left: -85px
}

.nav-header-box .header-wrap .user-info-box .item-info.info-focus-active .info-link-test {
	z-index: 1001;
	height: 37px;
	line-height: 36px;
	border-top: none;
	border-bottom: none;
	background-color: #fff
}

.nav-header-box .header-wrap .user-info-box .item-info.info-focus-active .info-link-test.no-win {
	z-index: 1001;
	height: 36px;
	line-height: 34px;
	border: 1px solid #f7f7f6;
	background-color: #fff
}

.nav-header-box .header-wrap .user-info-box .item-info.info-focus-active .info-link {
	z-index: 1001;
	height: 37px;
	line-height: 36px;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
	background-color: #fff
}

.nav-header-box .header-wrap .user-info-box .item-info.info-focus-active .info-link.no-win {
	z-index: 1001;
	height: 36px;
	line-height: 34px;
	border: 1px solid #f7f7f6;
	background-color: #fff
}

.nav-header-box .header-wrap .user-info-box .item-info.info-focus-active .info-normal {
	z-index: 1001;
	height: 37px;
	line-height: 36px;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
	background-color: #fff
}

.nav-header-box .header-wrap .user-info-box .item-info.info-focus-active .info-win {
	display: block
}

.nav-header-box .header-wrap .user-info-box .item-info.info-focus-active .line-left,
.nav-header-box .header-wrap .user-info-box .item-info.info-focus-active .line-right {
	display: none
}

@media screen and (min-width:1200px) {
	.nav-header-box .header-wrap {
		width: 1200px
	}
}

body,
html {
	zoom: 1;
	height: 100%
}

.search-wrap {
	position: relative;
	width: 1000px;
	min-height: 100%;
	margin: 0 auto;
	overflow: hidden
}

.search-wrap .bold {
	font-weight: 700
}

.search-wrap .red {
	color: #8c222c
}

.search-wrap .gray3 {
	color: #333!important
}

.search-wrap .gray6 {
	color: #666!important
}

.search-wrap .gray9 {
	color: #999!important
}

.search-wrap .grayb {
	color: #bbb!important
}

.search-wrap .f_left {
	float: left
}

.search-wrap .f_right {
	float: right
}

@media screen and (min-width:1200px) {
	.search-wrap {
		width: 1200px
	}
}

.header-search {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	padding: 30px 0
}

.header-search .logo-text {
	float: left;
	display: block;
	width: 230px;
	height: 50px;
	margin-top: -10px;
	line-height: 35px;
	font-size: 0
}

.header-search .logo-text img {
	display: inline-block;
	vertical-align: middle;
	width: 100%
}

.header-search .search-box {
	float: right;
	width: auto;
	height: 40px;
	margin-right: 0;
	
}

.header-search .search-box .search-con {
	position: relative;
	float: left;
	width: 688px;
	height: 40px;
	border: 2px solid #8c222c;
	font-family: "楷体";
}

.header-search .search-box .search-con .search-put {
	float: left;
	position: relative;
	width: 516px;
	height: 36px
}

.header-search .search-box .search-con .search-put input {
	width: 516px;
	height: 36px;
	padding: 10px;
	line-height: 16px;
	font-size: 18px;
	color: #333;
	border: none
}

.header-search .search-box .search-con .search-put .sug-box {
	display: none;
	position: absolute;
	top: 36px;
	left: 0;
	z-index: 100000;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc
}

.header-search .search-box .search-con .search-put .sug-box .title {
	width: 100%;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	font-size: 16px;
	font-weight: 600;
	color: #9c9c9c
}

.header-search .search-box .search-con .search-put .sug-box .sug-item {
	width: 100%;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer
}

.header-search .search-box .search-con .search-put .sug-box .sug-item .clear-btn {
	float: right;
	font-size: 16px;
	font-weight: 600;
	color: #666
}

.header-search .search-box .search-con .search-put .sug-box .sug-item .clear-btn:hover {
	color: #8c222c
}

.header-search .search-box .search-con .search-put .sug-box .sug-item.active,
.header-search .search-box .search-con .search-put .sug-box .sug-item:hover {
	background-color: #eee
}

.header-search .search-box .search-con .search-put .sug-box .sug-item.blue {
	color: #365899
}

.header-search .search-box .search-con .search-put .gray9 {
	color: #999
}

.header-search .search-box .search-con .drop-down-status {
	position: relative;
	float: left;
	width: 80px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	font-weight: 600;
	color: #666;
	background-color: #eee;
	cursor: pointer
}

.header-search .search-box .search-con .drop-down-status .cur-status {
	position: relative;
	z-index: 15;
	padding-left: 9px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background-color: #fafafa;
	font-size: 15px;
	font-weight: 600;
}

.header-search .search-box .search-con .drop-down-status .cur-status .iconfont {
	position: absolute;
	top: 0;
	right: 8px;
	color: #999
}

.header-search .search-box .search-con .drop-down-status .cur-status .icon-shangshou {
	left: auto;
	right: 8px;
	display: none
}

.header-search .search-box .search-con .drop-down-status .cur-status.striking,
.header-search .search-box .search-con .drop-down-status .cur-status.striking .iconfont {
	color: #bf7f5f
}

.header-search .search-box .search-con .drop-down-status .status-other {
	display: none;
	position: absolute;
	width: 100%;
	top: 35px;
	left: 0;
	z-index: 10;
	border: 1px solid #e5e5e5;
	border-top: none;
	font-size: 16px;
	font-weight: 600;
	background: #fff
}

.header-search .search-box .search-con .drop-down-status .status-other .item {
	height: 36px;
	padding-left: 18px
}

.header-search .search-box .search-con .drop-down-status .status-other .item:hover,
.header-search .search-box .search-con .drop-down-status.show .cur-status {
	background-color: #fafafa
}

.header-search .search-box .search-con .drop-down-status.show .cur-status .icon-xiala {
	display: none
}

.header-search .search-box .search-con .drop-down-status.show .cur-status .icon-shangshou,
.header-search .search-box .search-con .drop-down-status.show .status-other {
	display: block
}

.header-search .search-box .search-con .btn {
	float: left;
	width: 88px;
	height: 36px;
	top: 50%;
	line-height: 36px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	border-radius: 0;
	background-color: #8c222c;
	cursor: pointer;
	border:0;
}

.header-search .search-box .search-con .btn:hover {
	background-color: #7b111b
}

@media screen and (min-width:1200px) {
	.header-search {
		width: 1200px!important
	}
	.header-search .search-box {
		margin-right: 200px
	}
}


